.carForm {
  // background-color: white;
  // padding: 15px;
   background-color: white;
  // height: 184px;
  // width: 1184px;
  // position: absolute;
  // left: 358px;
  // top: 148px;
  width: 100%;
  margin-top: 5rem;
  padding-top: 1rem;
  

  .car-or-utilities{
    
    display: flex;
    align-items: center;
    padding-left: 1rem;

    .nav2-active {

      button {
        background-color: black;
        color: white;
      }
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 32px;
      width: 100px;
      border-radius: 50vmin;
      color: black;
      background-color: rgb(243, 240, 240);
      margin: 0px calc(0.25rem);
      padding: 0 0.75rem;
      
    }
    #utilities:hover {
      background-color: rgb(224, 224, 224);
      cursor: pointer;
    }
  }

  .choosing {
    display: flex;
    align-items: center;
    padding: 1rem 1rem 0.5rem;

    .place, .different-return, .different-return-inactive, .choosing-date, .send-choice {
      padding-right: 0.5rem;
      padding-left: 0.5rem;
    }

    .place {
      p{
        font-size: small;
        
      }
    }

    .different-return-inactive{
      p{
        background-color: red;
        min-width: 292.5px;
      }
    }

    .choosing-date{
      display: flex;
      width: 390px;

      .start-date, .end-date {
        width: 100%;
      } 
    }

  

  }

  .business-pricing {
    padding: 0 1rem 1rem;
  }

}

