.header {
  font-family: $RobotoCondensed;
  height: 75px;
  display: flex;
  justify-content: space-evenly;
  font-weight: bold;
  



  .left-side, .right-side {

    ul {
      height: 100%;
      display: flex;
      align-items: center;
      
      .nav-active {

        li{
          color: $orange ;
        }
      }

      li {
        margin: 15px;
        color: $black;
      }


    }
  }

  .left-side {
    font-size:large;

    li:hover {
      color: $orange;
    }
  }

  .right-side {

    font-size:small;

    li:hover {
      color: grey;
    }
  }

  
}