.Rent {

  .home-pic-container {
    width: 100%;
    height: auto;
    
    #home-pic {
      width: 100%;
      height: 680px;
      object-fit: cover;
    }
  }

  .content{
    background-color: cyan;
    padding: 0 2.5rem;
    margin: auto;
    max-width: 84rem;

    .subscription{
      background-color: red;
      padding: 2.5rem 0 ;

      .subscription-title{
        text-align: center;
        padding-bottom: 1.5rem;
      }

      .subscription-content{
        display: flex;
        justify-content: center;

        .subscription-content-left{
          width: 33.33%;
          margin-left: auto;
          padding: 0 0.5rem;
        }

        .subscription-content-right{
          width: 33.33%;
          margin-right: auto;
          padding: 0 0.5rem;
        }

      }
    }

    .discovery {
      text-align: center;
      padding: 50px;

      

      .discovery-content{
        display: flex;
        justify-content: center;

        img {
          max-width: 150px;
          height: auto;
        }
      }
    }

    .world {
      margin-bottom: 200px;
      .world-title{
        text-align: center;
        margin: 50px;
      }
      .world-map{
        display: flex;

        .left {
          text-align: center;
        }
      }
    }

    .footer{
      
      background-color: red;

      .first-footer{
        .first-footer-header{
          background-color: cyan;
          display: flex;
          justify-content: center;
          h1 {
            font-size: large;
          }
          ul {
            display: flex;
    
            li {
              margin: 20px;
            }
          }
        }
      }

      
    }
  }
}